:root {
  --primary-color: #0a1128;
  --secondary-color: crimson;
  --white-color: #ffffff;
  --light-gray-color: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.section {
  min-height: auto;
}

.max-content-width {
  max-width: 120rem;
  margin: 0 auto;
}

.other-bg {
  background: #000022;
  color: #ffffff;
}

/* header */
.menu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  max-width: 120rem;
  margin: 0 auto;
}

.menu h1 a {
  font-size: 2.3rem;
  color: white;
  /* transition: 0.3s; */
}

/* .menu h1 a:hover {
  color: rgba(0, 0, 0, 0.596);
} */

.menu ul {
  display: flex;
}

.menu ul li {
  display: block;
  padding: 1.8rem 1rem;
  display: flex;
  align-items: center;
}

.menu ul li a {
  color: white;
  position: relative;
  font-size: 1.8rem;
}

.menu ul li a::after {
  content: "";
  position: absolute;
  top: 2.8rem;
  left: 0;
  width: 0;
  height: 0.2rem;
  background: white;
  transition: width 0.3s ease-in-out;
}

.menu ul li a:hover::after {
  width: 100%;
}

.menu .conntact a::after {
  content: "";
  position: absolute;
  top: 0rem;
  left: 0;
  width: 10px;
  height: 0.2rem;
  background: white;
}

.menu ul li button {
  border: 0.1rem solid white;
  border-radius: 4px;
  background: none;
  color: white;
  padding: 0.2rem 0.8rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menu ul li button:hover {
  background: white;
  color: black;
}

.menu-blur {
  background: rgba(255, 255, 255, 0.063);
  backdrop-filter: blur(10px);
}

.menu.fadeIn {
  animation: fadeIn 0.5s ease forwards;
}

/* Header transition */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* section 1 - Home */
.main-bg {
  background-image: url(../img/vanishing-stripes.svg);
  background-size: cover;
  background-position: center center;
  color: #ffffff;
}

.home-content {
  position: relative;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 3rem;
  padding: 9rem 9rem 7rem 9rem;
}

.home-text-content,
.home-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.home-text-content h2 {
  font-size: 5rem;
  font-weight: 800;

  /* margin-bottom: 1rem; */
  text-transform: uppercase;
  line-height: 1.2;
}

.home-text-content p {
  font-size: 2rem;
}

.home-img img,
.home-img svg {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 2px solid white;
}

/* Home transition */
.left-element {
  animation-name: fadeInLeft;
  animation-duration: 0.6s;
}

.right-element {
  animation-name: fadeInRight;
  animation-duration: 0.6s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Section 2 - About */

.about-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  min-height: auto;
  padding: 5rem 9rem 5rem 9rem;
}

.about-text-content h2 {
  font-size: 4rem;
  font-weight: 800;

  margin-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.2;
}

.about-text-content p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.grid-tools {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  counter-reset: grid-counter;
}

.item {
  max-width: 80px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item img {
  max-width: 80px;
  max-height: 80px;
  height: auto;
  margin-bottom: 10px;
}

.item h3 {
  font-size: 1.8rem;
}
