:root {
  --primary-color: #0a1128;
  --secondary-color: crimson;
  --white-color: #ffffff;
  --light-gray-color: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.close-menu {
  display: none;
}

.other-bg {
  background: #000022;
  color: #ffffff;
}

.max-content-width {
  max-width: 120rem;
  margin: 0 auto;
}

/* header */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  /* opacity: 0; faz parte da transição */
  transition: 0.3s;
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  max-width: 120rem;
  margin: 0 auto;
}

.menu h1 a {
  font-size: 2.3rem;
  color: white;
  /* transition: 0.3s; */
}

.menu ul {
  display: flex;
}

.menu ul li {
  display: block;
  padding: 1.8rem 1rem;
  display: flex;
  align-items: center;
}

.menu ul li a {
  color: white;
  position: relative;
  font-size: 1.8rem;
}

.menu ul li a::after {
  content: "";
  position: absolute;
  top: 2.8rem;
  left: 0;
  width: 0;
  height: 0.2rem;
  background: white;
  transition: width 0.3s ease-in-out;
}

.menu ul li a:hover::after {
  width: 100%;
}

.menu .conntact a::after {
  content: "";
  position: absolute;
  top: 0rem;
  left: 0;
  width: 10px;
  height: 0.2rem;
  background: white;
}

.menu ul li button {
  border: 0.1rem solid white;
  border-radius: 4px;
  background: none;
  color: white;
  padding: 0.2rem 0.8rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menu ul li button:hover {
  background: white;
  color: black;
}

.menu-blur {
  background: rgba(255, 255, 255, 0.063);
  backdrop-filter: blur(10px);
}

.menu.fadeIn {
  animation: fadeIn 0.5s ease forwards;
}

/* .menu.fadeTest {
  transition: none;
  opacity: 1;
  transform: translateY(0);
  background: rgba(255, 255, 255, 0.063);
  backdrop-filter: blur(10px);
} */

/* Header transition */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* section 1 - Home */
.section {
  min-height: 100vh;
}

.main-bg {
  background-image: url(../public/img/vanishing-stripes.svg);
  background-size: cover;
  background-position: center center;
  color: #ffffff;
}

.home-content {
  position: relative;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 3rem;
  min-height: 100vh;
  padding: 10rem 9rem;
  max-width: 120rem;
  margin: 0 auto;
}

.home-text-content,
.home-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.home-text-content h2 {
  font-size: 5rem;
  font-weight: 800;

  /* margin-bottom: 1rem; */
  text-transform: uppercase;
  line-height: 1.2;
}

.home-text-content p {
  font-size: 2rem;
}

.home-img img,
.home-img svg {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 2px solid white;
}

/* Home transition */
.left-element {
  animation-name: fadeInLeft;
  animation-duration: 0.6s;
}

.right-element {
  animation-name: fadeInRight;
  animation-duration: 0.6s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Section 2 - About */
.about-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  min-height: auto;
  padding: 5rem 9rem 5rem 9rem;
}

.about-text-content h2 {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.2;
}

.about-text-content p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.grid-tools {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-slider {
  display: flex;
  width: 100%;
  min-height: auto;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.container-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}

#prev-button,
#next-button {
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
}

#prev-button img,
#next-button img {
  width: 100%;
  height: 100%;
}

#prev-button {
  transform: rotate(180deg);
}

.slider {
  opacity: 0;
  transition: opacity 0.2s;
  position: absolute;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  counter-reset: grid-counter;
}

.on {
  opacity: 1;
}

.item {
  max-width: 80px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & img {
    max-width: 80px;
    max-height: 80px;
    height: auto;
    margin-bottom: 10px;
  }

  & h3 {
    font-size: 1.8rem;
  }
}

/* About transition */
.top-element {
  animation-name: fadeInTop;
  animation-duration: 0.6s;
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translatey(300px);
  }
  to {
    opacity: 1;
    transform: translatey(0);
  }
}

/* Section 3 - Projects */
.my-projects-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5rem 9rem 5rem 9rem;
  min-height: 100vh;

  & h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  & > p {
    font-size: 1.8rem;
    padding-bottom: 5rem;
  }
}

.grid-projects {
  display: flex;
  flex-direction: column;
}

.project {
  max-width: 120rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2.5fr;
  gap: 2rem;
  border: 1px solid white;
  border-radius: 15px;
  padding: 2rem;
  /* margin: 0 4rem 5rem 4rem; */
  margin-bottom: 5rem;

  & img {
    max-width: 100%;
    height: auto;
  }
}

.project-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;

  & p {
    font-size: 1.6rem;
  }
}

.project-title {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;

  & h3 {
    font-size: 2rem;
    margin-right: 2rem;
  }
}

.technologies-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.2rem;

  & div {
    border: 1px solid #ffffff;
    border-radius: 1.5rem;
    padding: 0.6rem;
    font-size: 1.2rem;
    color: red;
  }
}

.project-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2rem;

  & a {
    border: 0.1rem solid white;
    border-radius: 4px;
    background: none;
    color: white;
    padding: 0.2rem 0.8rem;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  & a:hover {
    background: white;
    color: black;
  }
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;

  & h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
    text-transform: uppercase;
    line-height: 1.2;
  }
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  margin-bottom: 4rem;

  & a {
    margin: 0.5rem;
  }

  & img {
    width: 35px;
    height: 35px;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: 0.3s;
  }

  & img:hover {
    /* border: 1px solid white; */
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
  }
}

.copyright {
  color: #ffffff;
  margin: 2rem 0 0 0;
  font-size: 1.5rem;
  font-weight: 400;
}

/* teste
.menu-spacing {
  height: 65px;
} */

@media screen and (max-width: 460px) {
  .home-content,
  .about-content,
  .my-projects-content {
    padding-right: 5rem;
    padding-left: 5rem;
  }

  .home-text-content,
  .about-text-content,
  .my-projects-content h2,
  .my-projects-content > p {
    text-align: center;
  }

  .project-title {
    text-align: center;
  }

  .project-buttons {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .project-title {
    flex-direction: column;
  }

  .technologies-content {
    margin: 1rem 0;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .home-content,
  .about-content,
  .project {
    grid-template-columns: 1fr;
  }

  .menu {
    bottom: 0;
    text-align: center;
  }

  .menu-content,
  .menu-content ul {
    flex-direction: column;
    justify-content: center;
  }

  .menu-content ul li {
    justify-content: center;
  }

  .menu-content {
    height: 100vh;
  }

  /*  Menu mobile  */
  .menu {
    display: none;
  }

  .close-menu-label::after {
    content: "☰";
    position: fixed;
    z-index: 2;
    top: 2rem;
    right: 2rem;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 3rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
  }

  .close-menu:checked ~ .menu {
    display: block;
    background: rgba(255, 255, 255, 0.063);
    backdrop-filter: blur(10px);
  }

  .close-menu:checked ~ .close-menu-label::after {
    content: "×";
  }

  /* .menu-spacing {
    display: none;
  } */
}
